@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    POLÍTICA DE PRIVACIDAD DEL SERVICIO WEB

    Naucalpan de Juárez a 04 de mayo del 2024.
    Dirección: Calzada San Esteban 30, El Parque, 53398 Naucalpan de Juárez, Méx.

    Política de Privacidad Página Web

    Área: Jurídica de PRODISA
    Última actualización: (02/05/2024)

    Introducción

    EMPRESA: Proveedora Diesel Cuatro Caminos (PRODISA)

    Esta página te informa de nuestras políticas en relación con la recopilación, uso y divulgación de datos personales cuando utilizas nuestro Servicio. Utilizamos tus datos para proporcionar y mejorar el Servicio. Al utilizar el Servicio, aceptas la recopilación y el uso de información de acuerdo con esta política.

    Recopilación y Uso de Información

    Recopilamos varios tipos de información con diversas finalidades para proporcionarte y mejorar nuestro Servicio.

    Datos Personales

    Al utilizar nuestro Servicio, podemos pedirte que nos proporciones cierta información personal identificable que se puede utilizar para contactar o identificarte ("Nombre completo, dirección, número de contacto").

    Datos de Uso

    También recopilamos información sobre cómo se accede y utiliza el Servicio (Datos de Uso PRODISA). Estos Datos de Uso pueden incluir información como la dirección del Protocolo de Internet de tu computadora (por ejemplo, dirección IP), tipo de navegador, versión del navegador, las páginas de nuestro Servicio que visitas, la hora y fecha de tu visita, el tiempo que pasas en esas páginas, identificadores de dispositivos únicos y otros datos de diagnóstico. El alcance de este aviso de privacidad únicamente será limitado al uso de esta página.

    Uso de Datos

    Proveedora Diesel Cuatro Caminos utiliza los datos recopilados con diversas finalidades:

    Proporcionar y mantener nuestro Servicio
    Notificarte sobre cambios en nuestro Servicio
    Permitirte participar en funciones interactivas de nuestro Servicio cuando eliges hacerlo
    Proporcionar asistencia al cliente
    Recopilar análisis o información valiosa para que podamos mejorar nuestro Servicio
    Supervisar el uso de nuestro Servicio
    Detectar, prevenir y abordar problemas técnicos
    Transferencia de Datos

    Tu información, incluyendo Datos Personales, puede ser transferida a y mantenida en computadoras ubicadas fuera de tu estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir de las de tu jurisdicción. Tu información está protegida por El Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales “INA” con sede en CDMX. A lo igual que tu información de pago se llevará a cabo por el servicio de mercado pago la cual puedes revisar sus políticas de privacidad, para más información ingresa a la siguiente liga: https://www.mercadopago.com.mx/privacidad.

    Divulgación de Datos

    El manejo de sus datos Personales lo llevará el área de sistemas de qué tal acción es necesaria para:

    Cumplir con una obligación legal.
    Proteger y defender los derechos o propiedad de Proveedora Diesel Cuatro Caminos.
    Prevenir o investigar posibles infracciones en relación con el Servicio.
    Proteger la seguridad personal de usuarios del Servicio o del público.
    Proteger contra responsabilidad legal.
    Seguridad de los Datos

    La seguridad de tus datos es importante para nosotros, pero recuerda que el área de sistemas en ningún método de transmisión por Internet o método de almacenamiento electrónico es 100% seguro. Aunque nos esforzamos por utilizar medios comercialmente aceptables para proteger tus Datos Personales, no podemos garantizar su seguridad absoluta.

    Cambios de Política de Privacidad

    Podemos actualizar nuestra Política de Privacidad de vez en cuando. Te notificaremos de cualquier cambio publicando la nueva Política de Privacidad en esta página. Te aconsejamos que revises esta Política de Privacidad periódicamente para cualquier cambio. Los cambios a esta Política de Privacidad son efectivos cuando se publican en esta página.

    Uso de las Cookies

    Tipos de cookies que utilizamos:

    Cookies necesarias: Estas cookies son esenciales para que puedas navegar en nuestro sitio web y utilizar sus características.
    Cookies de rendimiento: PRODISA recopila información sobre cómo utilizas nuestro sitio web, por ejemplo, qué páginas visitas más a menudo.
    Cookies de funcionalidad: Permiten que nuestro sitio web recuerde las elecciones que haces (como tu nombre de usuario o el idioma que prefieres) y proporcionan características mejoradas y más personales.
    Cookies de publicidad: Se utilizan para ofrecerte anuncios más relevantes de PRODISA según tus intereses.
    Cómo gestionar las cookies

    Puedes controlar y/o eliminar las cookies como desees. Puedes eliminar todas las cookies que ya están en tu computadora y puedes configurar la mayoría de los navegadores para evitar que se instalen.

    Cambios en la política de cookies

    Nos reservamos el derecho de realizar cambios en la política de cookies. Cualquier cambio en esta política será comunicado a través de nuestro sitio web.

    Contacto

    En caso de alguna pregunta sobre esta Política de Privacidad, favor de contactarse al correo: prodisa@gmail.com o por WhatsApp al 55-5059-6612.

</p>
